.learn-viewpage-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #1f2930;
}

.learn-viewpage-controls {
    width: 100%;
    height: 6rem;
    color: var(--contrast);
    font: 700 1.8rem "Inter";
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    user-select: none;
}

.learn-viewpage-btns {
    margin-left: 2rem;
    width: 6rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 2.2rem;
}

.learn-viewpage-pages {
    margin-right: 2rem;
}

.learn-viewpage-content, .learn-viewpage-opening {
    width: 85%;
    height: calc(100% - 6rem);
    color: var(--contrast);
    font: 1.8rem "Sofia Sans";
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn-viewpage-opening {
    font: 900 4rem "Inter";
    color: var(--secondary80);
    display: flex; text-align: center;
    animation: fadeinout 1.5s ease-in-out infinite;
}

.learn-viewpage-img {
    width: 100%; height: 20rem;
    background-position: center; background-repeat: no-repeat;
    background-size:contain;
    margin: 2rem;
}

@media (min-width: 1024px) {
    .learn-viewpage-content {
        flex-direction: column;
    }
}