.unit-container .unit-num {
    width: 100%; height: min(6rem, calc(6/70*100vw));
    font-family: "IBM Plex Mono"; font-size: min(2.5rem, calc(2.5/70*100vw));
    font-weight: bold;
}

.unit-container {
    margin-bottom: min(2rem, calc(2/70*100vw));
    padding-left: min(2rem, calc(2/70*100vw)); 
    padding-right: min(2rem, calc(2/70*100vw));
    display: flex; align-items: center; justify-content: center;
}

.icon-container {
    margin-right:min(1rem, calc(1/70*100vw));
}