.footer {
    width: 100vw;
    height: 11.8rem;
    background: #2B3C46;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-title {
    color: var(--contrast); 
    font: 700 2.2rem "Inter";
    margin-bottom: 1rem;
}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.vertical-divider {
    width: 0.1rem;
    height: 1.5rem;
    background: #ECECEB;
    margin: 0 1rem 0 1rem;
}
.privacy-policy, .honor-code {
    color: #ECECEB;
    font: 1.4rem "Inter";
    cursor: pointer;
    width: 9.2rem;
}
.privacy-policy:hover {
    text-decoration: underline;
}
.honor-code:hover {
    text-decoration: underline;
}
.footer-socials {
    font-size: 2.4rem;
    color: #ECECEB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer svg {
    cursor: pointer;
    margin: 0 2rem 0 2rem;
}