.donate-body {
    width: 100vw; height: calc(100vh - 34.2rem);
    display: flex; justify-content: center;
}

.donate-container {
    width: 81.2rem; height: 35.2rem;
    display: flex; flex-direction: column; align-items: center;
}

.donate-amount {
    color: var(--contrast);
    font-size: var(--home-subheader-font);
    font-family: "Secular One";
}

input {
    background: var(--main);
    color: var(--contrast); 
    font-size: var(--home-subheader-font); 
    font-family: "Secular One";
    border: 0; padding: 0; outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(236, 236, 235, 0.5);
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(236, 236, 235, 0.5);

}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(236, 236, 235, 0.5);
}

.underline {
    width: min(50rem, calc(50/70*100vw)); 
    height: min(0.6rem, calc(0.6/70*100vw));
    background: var(--contrast); border-radius: 1rem;
    margin-bottom: min(8rem, calc(8/70*100vw));
}

.donate-btn {
    width: var(--home-btn-width); 
    aspect-ratio: 3;
    border: var(--home-btn-border) solid var(--tertiary);
    color: var(--tertiary);
    cursor: pointer; 
    transition: all 250ms;
    font-size: var(--home-btn-font);
    font-family: var(--fs-btn);
    font-weight: bold;
}

.donate-btn:hover, .donate-btn:focus {
    box-shadow: inset 15.8rem 0 0 0 var(--tertiary);
    color: var(--main);
}

.donate-btn a {
    width: var(--home-btn-width);
    aspect-ratio: 3;
}

.donate-title {
    width: 100vw; min-height: 15rem;
    font-family: var(--fs-main); color: var(--tertiary); 
    font-size: var(--home-header-font);
    font-weight: bold;
    display: flex; justify-content: center; align-items: center;
}