.donate-body {
    width: 100vw; height: calc(100vh - 34.2rem);
    display: flex; justify-content: center;
}

.donate-container {
    width: 81.2rem; height: 35.2rem;
    display: flex; flex-direction: column; align-items: center;
}

.donate-amount {
    color: var(--contrast); font-size: 5rem;
    width: 81.2rem; height: 7.5rem;
    font-family: "Secular One";
}

input {
    background: var(--main);
    color: var(--contrast); font-size: 5rem; height: 7.5rem;
    font-family: "Secular One";
    border: 0; padding: 0; outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(236, 236, 235, 0.5);
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(236, 236, 235, 0.5);

}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(236, 236, 235, 0.5);
}

.underline {
    width: 81.2rem; height: 0.6rem;
    background: var(--contrast); border-radius: 1rem;
    margin-bottom: 8rem;
}

.donate-btn {
    width: min(15rem, 20vw); 
    aspect-ratio: 3;
    border: min(0.4rem, 0.5vw) solid var(--tertiary);
    color: var(--tertiary);
    cursor: pointer; 
    transition: all 250ms;
}

.donate-btn:hover, .donate-btn:focus {
    box-shadow: inset 15.8rem 0 0 0 var(--tertiary);
    color: var(--main);
}

.donate-btn a {
    width: min(15rem, 20vw);
    aspect-ratio: 3;
}
