@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@800&display=swap');

/* revamped home page starting with mobile-first design */

/* general */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-divider {
    width: 7.5rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    background: white;
    margin: 2.8rem 0 2.8rem 0;
}

.home-container {
    width: 100%;
    max-width: 37.5rem; /*default max width*/
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.home-title {
    font-family: "Inter", sans-serif;
    font-size: 4rem;
    color: var(--contrast);
    font-weight: 900;
}

/* hero section */
.home-hero-header {
    width: 33.5rem;
    height: 19.2rem;
    color: var(--contrast);
    font: 900 4rem "Inter";
    text-align: center;
    margin-bottom: 1.6rem;
}
.home-hero-header span {
    background: linear-gradient(95.95deg, #F64662 3.59%, #EE6177 54.83%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.home-hero-subheader {
    width: 33.5rem;
    height: 8.1rem;
    color: var(--contrast);
    opacity: 0.8;
    font: 700 2.2rem "Inter";
    text-align: center;
    margin-bottom: 2rem;
}
.home-hero-btn {
    width: 10rem;
    height: 4rem;
    background-color: var(--contrast);
    color: var(--main);
    font: 800 2rem "Sofia Sans";
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-hero-blob {
    background: url("../assets/hero-blob.svg");
    background-repeat: no-repeat;
    width: 18rem;
    height: 18rem;
    position: absolute;
    left: 1rem;
    top: 9rem;
    z-index: -1;
}


/* faqs section */
.faq-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 475px) {
    .home {
        width: 47.5rem;
    }
    .home-container {
        max-width: 47.5rem;
    }
    .home-hero-header {
        width: 43.7rem;
        font-size: 4.4rem;
    }
    .home-hero-subheader {
        width: 43.7rem;
        font-size: 2.4rem;
    }
    .home-title {
        font-size: 4.4rem;
    }
}

@media (min-width: 640px) {
    .home {
        width: 64rem;
    }
    .home-container {
        max-width: 64rem;
    }
    .home-hero-header {
        width: 58rem;
        font-size: 4.8rem;
    }
    .home-hero-subheader {
        width: 58rem;
        font-size: 2.8rem;
    }
    .res-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media (min-width: 768px) {
    .home {
        width: 76.8rem;
    }
    .home-container {
        max-width: 76.8rem;
    }
    .home-hero-header {
        width: 68rem;
        font-size: 5.4rem;
    }
    .home-hero-subheader {
        width: 68rem;
        font-size: 3.2rem;
    }
    .faq-cards {
        width: 76.8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

@media (min-width: 1024px) {
    .home {
        width: 102.4rem;
    }
    .home-container {
        max-width: 102.4rem;
    }
    .home-hero-header {
        width: 94.4rem;
        font-size: 6.4rem;
    }
    .home-hero-subheader {
        width: 94.4rem;
        font-size: 3.6rem;
    }
    .res-cards {
        width: 102.4rem;
        display: flex;
        justify-content: space-evenly;
    }
    /* TODO fix spacing */
    .faq-cards {
        width: 102.4rem;
    }
}

@media (min-width: 1280px) {
    .home {
        width: 128rem;
    }
    .home-container {
        max-width: 128rem;
    }
    .home-hero-header {
        width: 112rem;
        font-size: 7.4rem;
    }
    .home-hero-subheader {
        width: 112rem;
        font-size: 4rem;
    }
    .faq-cards {
        width: 128rem;
    }
    .res-cards {
        width: 128rem;
    }
}

@media (min-width: 1536px) {

}