@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

/* animations */

@keyframes fadein {
    from {
        opacity: 0; 
        transform: translateY(10%);
    }
    to {
        opacity: 1; 
        transform: translateY(0%);
    }
}

/* home page container */
.home-page {
    width: 100vw;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}


/* section one of home page */
.home-sec-one {
    width: 100vw; height: 100vh;
    background-color: #2E383F;
}


.hero-container {
    width: inherit; height: 60vh;
    display: flex; justify-content: center; align-items: center;
    animation: fadein 2s;
}

.hero-header {
    font-size: 8rem; font-weight: bold; color: #F64662; font-family: 'Sofia Sans';
    text-align: center; margin-left: 6rem; margin-right: 6rem;
}

.hero-subheader {
    font-size: 5rem; font-weight: bold; color: #EE6177; font-family: "Sofia Sans";
    margin-top: 2rem;
}

.hero-img {
    width: 50rem; height: 50rem;
    background-image: url("../assets/reveille.png"); background-size: contain;
    background-repeat: no-repeat; background-position: center;
    transform: scaleX(-1);
}

.hero-subheader span {
    color : #F9A828; text-decoration: underline;
}

/* scroll bar stuff */
body {
    overflow-x:hidden;
    overflow-y: overlay;
    scrollbar-width: 1.5rem;
    scrollbar-color: #888;
}
::-webkit-scrollbar {
    width: 1.5rem;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* section two of home page */
.home-sec-two {
    width: 100vw; height: 100vh;
    background-color: #F9A828;
    display: flex; justify-content: flex-start; align-items: center; flex-direction: column;
}

.home-sec-two-content {
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    width: 100vw; height: 100vh;
}

.title-two {
    width: 80vw; text-align: center; 
    font-size: 9rem; font-weight: 700; font-family: "Sofia Sans"; color: #07617D;
}

.text-two {
    width: 80vw; text-align: center;
    font-size: 5rem; font-weight: 700; font-family: "Sofia Sans"; color: #2F778D;
}

.text-two span {
    color: #F64662; text-decoration: underline; text-decoration-thickness: 0.5rem;
}

/* section three of home page */
.home-sec-three {
    width: 100vw; height: 100vh;
    background-color: #07617D;
    display: flex; justify-content: flex-start; align-items: center; flex-direction: column;
}
.home-sec-three-content {
    width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column;
}
.title-three {
    width: 80vw; text-align: center; font-size: 9rem; font-weight: 700; font-family: "Sofia Sans";
    color: #ECECEB
}
.text-three {
    width: 80vw; text-align: center;
    font-size: 3rem; font-weight: 700; font-family: "Sofia Sans"; color: #ECECEB;
}

.text-three span {
    color: #F64662; text-decoration: underline; text-decoration-thickness: 0.5rem;
}

.py-proj-showcase {
    width: 100vw; height: 60vh; display: flex; justify-content: center; align-items: center; flex-direction: row; background-color: gray;
}

/* section four of home page */
.home-sec-four {
    width: 100vw; min-height: 100vh;
    background-color: #ECECEB;
    display: flex; justify-content: flex-start; align-items: center; flex-direction: column;
}

.title-four {
    width: 80vw; text-align: center; font-size: 9rem; font-weight: 700;
    font-family: "Sofia Sans";
    color: #2E383F;
    margin-top: 5rem;
}

.faq-container {
    width: 90vw;
    display: flex; justify-content: space-evenly;
    margin-top: 4rem;
}

@media only screen and (max-width: 1400px) {
    .faq-container {
        width: 90vw;
        display: flex; align-items: center; flex-direction: column;
        margin-top: 4rem;
    }
}

.faq-column {
    display: flex; flex-direction: column;
    align-items: center;
}