.learn-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.learn-container, .learn-wrapper {
    width: 100%;
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.learn-title {
    font: 900 4rem "Inter";
    color: var(--contrast);
    margin-bottom: 1.6rem;
}

.learn-view {
    width: 36rem; height: 37.5rem;
    display: flex;
    margin-bottom: 4rem;
}

@media (min-width: 475px) {
    .learn-container, .learn-wrapper {
        max-width: 47.5rem;
    }
}
@media (min-width: 640px) {
    .learn-container, .learn-wrapper {
        max-width: 64rem;
    }
}
@media (min-width: 768px) {
    .learn-container, .learn-wrapper {
        max-width: 76.8rem;
    }
    .learn-view {
        width: 70rem;
        height: 61.5rem;
        display: flex;
    }
}
@media (min-width: 1024px) {
    .learn-container {
        max-width: 102.4rem;
    }
    .learn-wrapper {
        max-width: 102.4rem;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    .learn-view {
        width: 60rem;
        height: 61.5rem;
        display: flex;
    }
}
@media (min-width: 1280px) {
    .learn-container, .learn-wrapper {
        max-width: 128rem;
    }
    .learn-view {
        width: 85.6rem;
    }
}
@media (min-width: 1536px) {
    .learn-container, .learn-wrapper {
        max-width: 153.6rem;
    }
    .learn-view {
        width: 111.2rem;
    }
}

@media (max-width: 374px) {
    .learn-page {
        display: none;
    }
}