.learn-content {
    display: flex; flex-direction: row;
}

.learn-sidebar {
    width: 20vw; height: calc(100vh - 34.2rem);
    display: flex; align-items: center; flex-direction: column;
    color: var(--contrast); font-size: min(3rem, calc(3/70*100vw)); font-weight: bold; font-family: "IBM Plex Mono";
    overflow-y:scroll; position: relative;
}

.sidebar-title {
    position: sticky; top:0;left:0;
    background-color: var(--main);
    height: min(5rem, calc(5/70*100vw)); 
    margin-bottom: min(2rem, calc(2/70*100vw));
    width: 80%; border-bottom: var(--contrast) solid min(0.4rem, calc(0.4/70*100vw)); text-align: center;
}

.learn-main {
    margin-left: min(6rem, calc(6/70*100vw));
}