.nav {
    width: 37.5rem;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 2.4rem;
    width: 4rem;
    aspect-ratio: 1;
    background-image: url("../assets/gear.png");
    background-size: cover;
}

.menu-btn {
    margin-right: 2.4rem;
    width: 10rem;
    height: 4rem;
    background: var(--contrast);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main);
    font: 2rem "Sofia Sans";
    font-weight: 800;
    cursor: pointer;
}

.menu-btn svg {
    margin-right: 0.8rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    right: 0; 
    top: 0;
    width: 40vw;
    height: 100vh;
    background: var(--mainb);
    backdrop-filter: blur(2rem); 
    z-index: 100;
    color: var(--contrast);
    font: 2rem "Sofia Sans";
    font-weight: 800;
}

.nav-links a {
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 1rem;
    margin-top: 0.8rem;
}

.nav-links a:hover {
    background: var(--main80)
}

.close-btn {
    margin-top: 3rem;
    padding: 1rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--secondary);
}

.close-btn svg {
    font-size: 1.5rem;
    margin-right: 1rem;
}

@media (min-width: 475px) {
    .nav {
        width: 47.5rem;
        height: 10rem;
    }
}

@media (min-width: 640px) {
    .nav {
        width: 64rem;
        height: 10rem;
    }
}

/* above 768 pixels show full nav bar */
@media (min-width: 768px) {
    .nav {
        width: 76.8rem;
        height: 10rem;
    }
    .menu-btn, .close-btn {
        display: none;
    }
    .nav-links {
        width: auto;
        height: auto;
        display: flex;
        position: relative;
        background: transparent;
        flex-direction: row;
        backdrop-filter: none;
        margin-right: 3rem;
    }
    .nav-links a.active {
        color: var(--tertiary);
    }
    .nav-links a:hover {
        background: transparent;
        color: var(--secondary);
    }
}

@media (min-width: 1024px) {
    .nav {
        width: 102.4rem;
        height: 10rem;
    }
}

@media (min-width: 1280px) {
    .nav {
        width: 128rem;
        height: 10rem;
    }
}

@media (min-width: 1536px) {
    .nav {
        width: 153.6rem;
        height: 10rem;
    }
}