.reviewblock-container {
    display: flex; flex-direction: column;
    justify-content: flex-start; align-items: center;
    width: 100vw; height: 27.5rem;
    margin-bottom: 7rem;
}

.reviewblock-header {
    width: 100vw; height: 4rem;
    display: flex; flex-direction: row;
    margin-bottom: 2.5rem;
}

.reviewblock-profile {
    border-radius: 50%;
    border: 0.2rem solid var(--contrast);
    min-width: 5rem; min-height: 5rem;
    background-size: cover;
    margin-left: 7rem;
}

.reviewblock-bar {
    flex-direction: column; margin-left: 1rem;
    display: flex; justify-content: space-between; align-items: flex-start;
}

.reviewblock-name {
    color: var(--contrast); 
    font-size: var(--rev-taname-font); 
    font-family: var(--fs-secondary);
}

.reviewblock-divider {
    width: calc(100vw - 20rem); height: 0.3rem;
    background: var(--contrast);
    border-radius: 1rem;
}

.reviewblock-gallery {
    width: 100vw; height: 20rem; position: relative;
    display: flex; align-items: center; justify-content: center;
}

.reviewblock-left-btn, .reviewblock-right-btn{
    color: var(--contrast); font-size: 3rem; height: inherit;
    display: flex; align-items: center;
}

.reviewblock-left-btn svg, .reviewblock-right-btn svg {
    cursor: pointer;
}

.reviewblock-left-btn {
    position: absolute; left: 7rem;
}

.reviewblock-right-btn {
    position: absolute; right: 7rem;
}

.reviewblock-video-container {
    height: inherit; display: flex; flex-direction: row;
    width: calc(100vw - 22rem);
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.video {
    width: 35rem; height: 19rem;
    margin: 0 1.5rem 0 1.5rem;
    border: var(--contrast) solid 0.25rem;
    border-radius: 1rem; color: var(--contrast);
    display: flex; flex-direction: column; justify-content: space-between;
    scroll-snap-align: center; position: relative;
    background-color: var(--main);
}

.react-thumbnail-generator {
    width: 35rem; height: 19rem;
    border-radius: 1rem;
}

.video-thumbnail {
    width: 35rem; height: 19rem;
    position: absolute;
    background-color: black;
    border-radius: 1rem;
}

.video-thumbnail img {
    width: 35rem; height: 19rem;
    border-radius: 1rem;
    object-fit: contain;
}

.video-content {
    width: 35rem; height: 19rem;
    z-index: 3; display: flex; 
    flex-direction: column;
    justify-content: space-between; align-items: center;
    background-color: var(--mainb);
    backdrop-filter: blur(0.5rem);
    border-radius: 1rem;
}

.video-title {
    width: inherit; height: 7rem;
    display: flex; justify-content: center; align-items: center;
    font-size: var(--rev-taname-font);
    font-family: var(--fs-secondary);
}

.video-date {
    width: 33rem; height: 7rem;
    display: flex; justify-content: flex-end; align-items: center;
    font-size: var(--rev-taname-font);
    font-family: var(--fs-secondary);
}

.video-units, .video-unit-container {
    display: none;
}

.video:hover .video-units {
    width: 33rem; height: 7rem;
    display: flex; justify-content: center; align-items: center;
    font-size: var(--rev-taname-font);
    font-family: var(--fs-secondary);
}

.video:hover .video-unit-container {
    width: 33rem; height: 12rem;
    display: flex; justify-content: center; align-items: flex-start;
    flex-wrap:wrap;
}

.video:hover .video-title, .video:hover .video-date{
    display:none;
}