@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.tao-container {
    width: 21rem; height: 31.5rem;
    margin-left: 3rem; margin-right: 3rem;
    margin-bottom: 5rem;
    box-sizing: border-box;
}

.tao-card {
    min-width: 20rem; min-height: 30rem;
    background-color: #ECECEB;
    display: flex; flex-direction: column;
}

.tao-profile {
    width: 20rem; height: 21rem;
    background-color: #2E383F;
    border: 0.5rem solid #ECECEB;
}

.tao-profile:hover {
    background-color: black; opacity: 0.8;
}

.tao-info {
    width: 20rem; height: 9rem;
    background-color: #2E383F;
    border: 0.5rem solid #ECECEB;
    border-top: 0;
}

.tao-name {
    width: 20rem; height: 60%;
    color: #ECECEB; font-size: 2rem; font-family: "Rubik"; font-weight: 700;
    display: flex; justify-content: center; align-items: center; text-align: center;
}

.tao-socials {
    width: 20rem; height: 40%;
    display: flex; justify-content: space-evenly; align-items: flex-start;
    color: #ECECEB; font-size: 2.5rem;
}

.tao-socials a:hover {
    color:#F64662;
}