.unit-block {
    margin: 0.5rem;
    width: 7.5rem; height: 3rem;
    border-radius: 0.6rem; display: flex; flex-direction: row;
    justify-content: space-evenly;
}

.unit-tag {
    height: 3rem;
    display: flex; align-items: center;
}

.unit-circle {
    width: 1rem; height: 1rem;
    border-radius: 50%; background-color: var(--contrast);
}

.unit-num {
    height: 3rem;
    display: flex; align-items: center; justify-content: flex-start;
    color: var(--contrast);
    font-family: var(--fs-btn); font-size: 1.5rem; font-weight: 600;
}