@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');


.work-in-progress {
    width: 100vw; height: 100vh;
    background-color: #2E383F;
    display: flex; justify-content: center; align-items: center; flex-direction: column;
}

.work-in-progress-msg-1 {
    width: 70vw;
    display: flex; justify-content: center; align-items: center; text-align: center;
    font-size: 8rem; font-family: "Sofia Sans"; font-weight: 700; color: #F64662;
    margin-bottom: 5rem;
}

.work-in-progress-msg-2 {
    display: flex; justify-content: center; align-items: center; text-align: center;
    font-size: 6rem; font-family: "Sofia Sans"; font-weight: 700; color: #ECECEB;
}
a {
    color: inherit; text-decoration: none;
    display: flex; justify-content: space-evenly; align-items: center; text-align: center;
}

.wip-icon {
    display: flex; justify-content: space-evenly; align-items: center; text-align: center;
    margin-left: 2rem;
}