/* all font imports*/
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* variables/colors */

:root {
    /* colors */
    --main: #2E383F;
    --main80: #565E63; 
    --mainb: rgba(0, 0, 0, 0.8);
    --secondary: #F64662;
    --secondary80: #EE6177;
    --tertiary: #F9A828;
    --contrast: #ECECEB;
    --contrast80: #CBE4DE;
    --green: #5F7053;
    --babyblue: #93BFCF;
    --darkerblue: #6096B4;
    --purpleblue: #7286D3;

    /* font styles */
    --fs-main: "Sofia Sans";
    --fs-secondary: "Secular One", sans-serif;
    --fs-btn: "Rubik";
    --fs-text: "Fira Code";
    --fs-text80: "IBM Plex Mono";
    --fs-text60: "Bitter";
    --fs-text40: "Signika Negative";
    
    /* nav property variables */
    --show-nav: none;
    --nav-height: 10rem;
    --nav-font-size: 2.25rem;
    --nav-font-style: "Bebas Neue";
    --nav-logo-size: 4.5rem;
    --nav-sidebar-size: 20rem;

    /* home property variables */
    --home-header-font: min(5rem, calc(5 / 70 * 100vw));
    --home-header-width: min(65rem, calc(65 / 70 * 100vw));
    --home-subheader-font: min(4rem, calc(4 / 70 * 100vw));
    --home-btn-font: min(2rem, calc(2 / 70 * 100vw));
    --home-btn-width: min(15rem, calc(15 / 70 * 100vw));
    --home-btn-border: min(0.4rem, calc(0.4 / 70 * 100vw));

    /* review property variables */
    --rev-taname-font: 2rem;

}

/* basic layout for most pages */
.basic-page {
    width: 100vw; 
    background: var(--main);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-title {
    width: 100vw; min-height: 15rem;
    font-family: var(--fs-main); color: var(--secondary); font-size: 4.75rem;
    font-weight: 700;
    display: flex; justify-content: center; align-items: center;
}

/* basic styles */
.center {
    display: flex; justify-content: center; align-items: center;
}

.bg-default-style {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    color: inherit; text-decoration: none;
}

/* animations */
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* global media queries */
@media screen and (max-width: 374px) {
    .basic-page {
        display: none;
    }
    body::before {
        content: "screen size not supported";
        font-family: "Sofia Sans";
        font-size: 1rem; 
        color: var(--contrast);
    }
}