/* all font imports*/
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/* variables/colors */

:root {
    --main: #2E383F;
    --secondary: #F64662;
    --tertiary: #F9A828;
    --contrast: #ECECEB;

    /* nav property variables */
    --show-nav: none;
    --nav-height: 10rem;
    --nav-font-size: 2.25rem;
    --nav-logo-size: 4.5rem;
}

/* basic layout for most pages */
.basic-page {
    width: 100vw; 
    height: 100vh;
    background: var(--main);
    display: flex;
    flex-direction: column;
}

.basic-title {
    width: 100vw; min-height: 15rem;
    font-family: "Sofia Sans"; color: var(--secondary); font-size: 5rem; font-weight: 700;
    display: flex; justify-content: center; align-items: center;
}


/* font styles */
.splash-font {
    font-family: "Secular One"; font-size: min(5rem, 4vw);
}

.subsplash-font {
    font-family: "Secular One"; font-size: min(4rem, 3vw);
}

.btn-font {
    font-family: "Rubik"; font-size: min(2rem, 2vw); font-weight: 700;
}

.header-font {
    font-family: "Sofia Sans"; font-size: 5rem; font-weight: 700;
}


/* basic styles */
.center {
    display: flex; justify-content: center; align-items: center;
}

.bg-default-style {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    color: inherit; text-decoration: none;
}

/* animations */
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* global media queries */
@media screen and (max-width: 319px) {
    .basic-page {
        display: none;
    }
    body::before {
        content: "screen size not supported";
        font-family: "Sofia Sans";
        font-size: 1rem; 
        color: var(--contrast);
    }
}