html {
  font-size: 10px;
}

body {
  margin: 0; padding: 0; border: 0;
  background-color: #2E383F;
  /* scroll bar stuff */
  overflow-x:hidden;
  overflow-y: overlay;
  scrollbar-width: 1.5rem;
  scrollbar-color: #888;
}

::-webkit-scrollbar {
  width: 1.5rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}