@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  @apply m-0 p-0 border-0 outline-none font-rubik text-neutral-100 box-border leading-[auto]
}

html {
  font-size: 10px;
}

body {
  @apply w-full min-h-screen relative bg-neutral-900
  /* width: 100%; */
  /* min-height: 100vh; */
  /* position: relative; */
  /* background: linear-gradient(180deg, #2D2D2D 0%, rgba(45, 45, 45, 0.90) 100%); */
}

#root {
  @apply min-h-screen w-full flex flex-col items-center
}

.navlink {
  @apply current:text-orange-400 hover:text-blue-400 mt-[1.6rem] text-h8 font-medium
}

/* scrollbar */
::-webkit-scrollbar {
  width: 1.5rem;
}
::-webkit-scrollbar-track {
  background: #575757;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

/* animations */
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#warning[warn='1'] {
  animation: warning 2s linear;
}

@keyframes warning {
  0% {
    opacity: 0;
    bottom: 5.6rem;
  }
  10% {
    opacity: 1;
    bottom: 6.4rem;
  }
  90% {
    opacity: 1;
    bottom: 6.4rem;
  }
  100% {
    opacity: 0;
    bottom: 5.6rem;
  }
}